{
   "name": "",
   "description": "",
   "spec": [
      {
         "question_name": "What host do you want to delete?",
         "question_description": "",
         "required": true,
         "type": "multiselect",
         "variable": "vm_name",
         "min": 0,
         "max": 1024,
         "formattedChoices": [
         {% for fqdn in hosts %}
            {
         "choice": "{{ fqdn }}",
         "isDefault": false,
         "id": {{ loop.index }}
            },
         {% endfor %}
            {
         "choice": "dummy",
         "isDefault": true,
         "id": 0
            }
         ],
         "new_question": false,
         "default": "dummy",
         "choices": "dummy\n{% for fqdn in hosts %}{{ fqdn | join('')}}{%- if loop.length > 1 and not loop.last-%}\n{% endif %}{% endfor %}"
      }
    ]
}
