{
   "name": "Select host to create-users",
   "description": "",
   "spec": [
      {
        "question_description": "",
        "min": 0,
        "default": "",
        "max": 0,
        "required": true,
        "choices": "{% for fqdn in hosts %}{{ fqdn | join('')}}{%- if loop.length > 1 and not loop.last-%}\n{% endif %}{% endfor %}",
        "new_question": true,
        "variable": "targeted_host",
        "question_name": "Target Hostname",
        "type": "multiselect"
      }
    ]
}
